.Header {
  display: flex;
  flex-flow: row wrap;
  h2 {
    flex: 1 100%;
  }

  &__subtitle {
    margin: 0.2rem 0;
  }

  &__notes {
    width: 25rem;
    margin-right: 1rem;
  }
  &__tags {
    margin-bottom: 0.3rem;
  }
}
